body {
    font-family: Arial, sans-serif;
    background-color: #f5f6fa;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px;
}

.box {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0)
    transition: 0.3s;
}
.box img {
    width: 100%;
    border-radius: 10px;
}
.box:hover {
    transform: scale(1.05);
    background-color: #eaf3ff;
}
button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #0984e3;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0652dd;
}
